<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>section_title</key>
		<string>투데이</string>
		<key>section_date</key>
		<string>11월 15일 수요일</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>모두를 아티스트로 만들어 줄 Enlight</string>
				<key>subtitle</key>
				<string>프로 팁</string>
				<key>image_name</key>
				<string>Bitmap</string>
				<key>avatar_image_name</key>
				<string>Bitmap</string>
			</dict>
			<dict>
				<key>title</key>
				<string>모두를 아티스트로 만들어 줄 Enlight</string>
				<key>subtitle</key>
				<string>프로 팁</string>
				<key>image_name</key>
				<string>Group 2</string>
				<key>avatar_image_name</key>
				<string>Group 2</string>
			</dict>
			<dict>
				<key>title</key>
				<string>모두를 아티스트로 만들어 줄 Enlight</string>
				<key>subtitle</key>
				<string>프로 팁</string>
				<key>image_name</key>
				<string>Group 21</string>
				<key>avatar_image_name</key>
				<string>Group 21</string>
			</dict>
			<dict>
				<key>title</key>
				<string>모두를 아티스트로 만들어 줄 Enlight</string>
				<key>subtitle</key>
				<string>프로 팁</string>
				<key>image_name</key>
				<string>Bitmap</string>
				<key>avatar_image_name</key>
				<string>Bitmap</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section_title</key>
		<string>투데이</string>
		<key>section_date</key>
		<string>11월 15일 수요일</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>모두를 아티스트로 만들어 줄 Enlight</string>
				<key>subtitle</key>
				<string>프로 팁</string>
				<key>image_name</key>
				<string>Bitmap</string>
				<key>avatar_image_name</key>
				<string>Bitmap</string>
			</dict>
			<dict>
				<key>title</key>
				<string>모두를 아티스트로 만들어 줄 Enlight</string>
				<key>subtitle</key>
				<string>프로 팁</string>
				<key>image_name</key>
				<string>Bitmap</string>
				<key>avatar_image_name</key>
				<string>Bitmap</string>
			</dict>
			<dict>
				<key>title</key>
				<string>모두를 아티스트로 만들어 줄 Enlight</string>
				<key>subtitle</key>
				<string>프로 팁</string>
				<key>image_name</key>
				<string>Bitmap</string>
				<key>avatar_image_name</key>
				<string>Bitmap</string>
			</dict>
			<dict>
				<key>title</key>
				<string>모두를 아티스트로 만들어 줄 Enlight</string>
				<key>subtitle</key>
				<string>프로 팁</string>
				<key>image_name</key>
				<string>Bitmap</string>
				<key>avatar_image_name</key>
				<string>Bitmap</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section_title</key>
		<string>투데이</string>
		<key>section_date</key>
		<string>11월 15일 수요일</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>모두를 아티스트로 만들어 줄 Enlight</string>
				<key>subtitle</key>
				<string>프로 팁</string>
				<key>image_name</key>
				<string>Bitmap</string>
				<key>avatar_image_name</key>
				<string>Bitmap</string>
			</dict>
			<dict>
				<key>title</key>
				<string>모두를 아티스트로 만들어 줄 Enlight</string>
				<key>subtitle</key>
				<string>프로 팁</string>
				<key>image_name</key>
				<string>Bitmap</string>
				<key>avatar_image_name</key>
				<string>Bitmap</string>
			</dict>
			<dict>
				<key>title</key>
				<string>모두를 아티스트로 만들어 줄 Enlight</string>
				<key>subtitle</key>
				<string>프로 팁</string>
				<key>image_name</key>
				<string>Bitmap</string>
				<key>avatar_image_name</key>
				<string>Bitmap</string>
			</dict>
			<dict>
				<key>title</key>
				<string>모두를 아티스트로 만들어 줄 Enlight</string>
				<key>subtitle</key>
				<string>프로 팁</string>
				<key>image_name</key>
				<string>Bitmap</string>
				<key>avatar_image_name</key>
				<string>Bitmap</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section_title</key>
		<string>투데이</string>
		<key>section_date</key>
		<string>11월 15일 수요일</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>모두를 아티스트로 만들어 줄 Enlight</string>
				<key>subtitle</key>
				<string>프로 팁</string>
				<key>image_name</key>
				<string>Bitmap</string>
				<key>avatar_image_name</key>
				<string>Bitmap</string>
			</dict>
			<dict>
				<key>title</key>
				<string>모두를 아티스트로 만들어 줄 Enlight</string>
				<key>subtitle</key>
				<string>프로 팁</string>
				<key>image_name</key>
				<string>Bitmap</string>
				<key>avatar_image_name</key>
				<string>Bitmap</string>
			</dict>
			<dict>
				<key>title</key>
				<string>모두를 아티스트로 만들어 줄 Enlight</string>
				<key>subtitle</key>
				<string>프로 팁</string>
				<key>image_name</key>
				<string>Bitmap</string>
				<key>avatar_image_name</key>
				<string>Bitmap</string>
			</dict>
			<dict>
				<key>title</key>
				<string>모두를 아티스트로 만들어 줄 Enlight</string>
				<key>subtitle</key>
				<string>프로 팁</string>
				<key>image_name</key>
				<string>Bitmap</string>
				<key>avatar_image_name</key>
				<string>Bitmap</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
